<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        
      <span class="text-body-secondary">@ 2025 mariaDeepti</span>
      <p class="float-end"><a class="text-body-emphasis" href="#">Back to top</a></p>
    </div>
  </footer>